{
  "openapi": "3.0.3",
  "info": {
    "title": "Crevio API",
    "description": "API for the Crevio creator platform \u2014 a multi-tenant SaaS for digital product sales.\nUses snake_case keys following Stripe conventions. All resource IDs are string prefix IDs (e.g., \"prod_abc123\").\n",
    "version": "0.4.0",
    "contact": {
      "name": "Crevio Support",
      "url": "https://crevio.co"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.crevio.co/v1",
      "description": "Production server"
    },
    {
      "url": "https://api.crevio.localhost/v1",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "summary": "Get current account",
        "description": "Returns information about the authenticated account",
        "operationId": "getAccount",
        "x-speakeasy-name-override": "get",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/products": {
      "get": {
        "summary": "List products",
        "description": "Returns a list of published products for the current account",
        "operationId": "listProducts",
        "x-speakeasy-name-override": "list",
        "tags": [
          "Products"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search by product name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Comma-separated relations to expand: reviews",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/StartingAfter"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_Product"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/products/{prefix_id}": {
      "get": {
        "summary": "Get product details",
        "description": "Returns detailed information about a specific product",
        "operationId": "getProduct",
        "x-speakeasy-name-override": "get",
        "tags": [
          "Products"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Comma-separated relations to expand: reviews",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/products/{prefix_id}/x402_access": {
      "post": {
        "summary": "Request x402 payment access",
        "description": "Returns 402 with payment requirements, or grants access on valid x402 payment.\nPass a price_variant query param to select a specific variant, otherwise the first visible variant is used.\n",
        "operationId": "requestX402Access",
        "x-speakeasy-name-override": "requestX402Access",
        "tags": [
          "Products"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          },
          {
            "name": "price_variant",
            "in": "query",
            "description": "Price variant prefix ID to use for payment",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Access granted after valid x402 payment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402Access"
                }
              }
            }
          },
          "402": {
            "description": "Payment required \u2014 includes x402 payment requirements in response headers"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/price_variants": {
      "get": {
        "summary": "List price variants",
        "description": "Returns all price variants for the current account",
        "operationId": "listPriceVariants",
        "x-speakeasy-name-override": "list",
        "tags": [
          "PriceVariants"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/StartingAfter"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of price variants",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_PriceVariant"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/price_variants/{prefix_id}": {
      "get": {
        "summary": "Get price variant",
        "description": "Returns a specific price variant",
        "operationId": "getPriceVariant",
        "x-speakeasy-name-override": "get",
        "tags": [
          "PriceVariants"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "responses": {
          "200": {
            "description": "Price variant details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceVariant"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/reviews": {
      "get": {
        "summary": "List reviews",
        "description": "Returns reviews for products in the current account",
        "operationId": "listReviews",
        "x-speakeasy-name-override": "list",
        "tags": [
          "Reviews"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "product",
            "in": "query",
            "description": "Filter by product prefix ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/StartingAfter"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of reviews",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_Review"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/reviews/{prefix_id}": {
      "get": {
        "summary": "Get review",
        "description": "Returns a specific review",
        "operationId": "getReview",
        "x-speakeasy-name-override": "get",
        "tags": [
          "Reviews"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "responses": {
          "200": {
            "description": "Review details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Review"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/checkouts": {
      "post": {
        "summary": "Create checkout session",
        "description": "Creates a new checkout session for purchasing products",
        "operationId": "createCheckout",
        "x-speakeasy-name-override": "create",
        "tags": [
          "Checkouts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checkout"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/checkouts/{prefix_id}": {
      "get": {
        "summary": "Get checkout",
        "description": "Returns a specific checkout session",
        "operationId": "getCheckout",
        "x-speakeasy-name-override": "get",
        "tags": [
          "Checkouts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checkout"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update checkout",
        "description": "Updates an existing checkout session",
        "operationId": "updateCheckout",
        "x-speakeasy-name-override": "update",
        "tags": [
          "Checkouts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checkout"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/carts": {
      "post": {
        "summary": "Create cart",
        "description": "Creates a new shopping cart",
        "operationId": "createCart",
        "x-speakeasy-name-override": "create",
        "tags": [
          "Carts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cart created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/carts/{prefix_id}": {
      "get": {
        "summary": "Get cart",
        "description": "Returns a specific cart",
        "operationId": "getCart",
        "x-speakeasy-name-override": "get",
        "tags": [
          "Carts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "responses": {
          "200": {
            "description": "Cart details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update cart",
        "description": "Updates cart items",
        "operationId": "updateCart",
        "x-speakeasy-name-override": "update",
        "tags": [
          "Carts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cart updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "summary": "Delete cart",
        "description": "Deletes a cart",
        "operationId": "deleteCart",
        "x-speakeasy-name-override": "delete",
        "tags": [
          "Carts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "responses": {
          "200": {
            "description": "Cart deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "summary": "List orders",
        "description": "Returns a list of orders for the current account",
        "operationId": "listOrders",
        "x-speakeasy-name-override": "list",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by order status",
            "schema": {
              "type": "string",
              "enum": [
                "succeeded",
                "pending",
                "failed",
                "refunded",
                "partially_refunded"
              ]
            }
          },
          {
            "name": "customer",
            "in": "query",
            "description": "Filter by customer prefix ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "processor",
            "in": "query",
            "description": "Filter by payment processor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Comma-separated relations to expand: customer, line_items",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/StartingAfter"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_Order"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/orders/{prefix_id}": {
      "get": {
        "summary": "Get order",
        "description": "Returns a specific order",
        "operationId": "getOrder",
        "x-speakeasy-name-override": "get",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Comma-separated relations to expand: customer, line_items",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "summary": "List customers",
        "description": "Returns a list of customers for the current account",
        "operationId": "listCustomers",
        "x-speakeasy-name-override": "list",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customer_type",
            "in": "query",
            "description": "Filter by customer type",
            "schema": {
              "type": "string",
              "enum": [
                "lead",
                "free",
                "paid"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Search by email or name",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/StartingAfter"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_Customer"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create customer",
        "description": "Creates a new customer record",
        "operationId": "createCustomer",
        "x-speakeasy-name-override": "create",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/customers/{prefix_id}": {
      "get": {
        "summary": "Get customer",
        "description": "Returns a specific customer",
        "operationId": "getCustomer",
        "x-speakeasy-name-override": "get",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update customer",
        "description": "Updates an existing customer record",
        "operationId": "updateCustomer",
        "x-speakeasy-name-override": "update",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/discounts": {
      "get": {
        "summary": "List discounts",
        "description": "Returns a list of discounts for the current account",
        "operationId": "listDiscounts",
        "x-speakeasy-name-override": "list",
        "tags": [
          "Discounts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by discount status",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "expired",
                "scheduled"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Search by discount code",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/StartingAfter"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of discounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_Discount"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create discount",
        "description": "Creates a new discount code",
        "operationId": "createDiscount",
        "x-speakeasy-name-override": "create",
        "tags": [
          "Discounts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Discount created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Discount"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/discounts/{prefix_id}": {
      "get": {
        "summary": "Get discount",
        "description": "Returns a specific discount",
        "operationId": "getDiscount",
        "x-speakeasy-name-override": "get",
        "tags": [
          "Discounts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "responses": {
          "200": {
            "description": "Discount details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Discount"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update discount",
        "description": "Updates an existing discount",
        "operationId": "updateDiscount",
        "x-speakeasy-name-override": "update",
        "tags": [
          "Discounts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discount updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Discount"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "summary": "Delete discount",
        "description": "Deletes a discount",
        "operationId": "deleteDiscount",
        "x-speakeasy-name-override": "delete",
        "tags": [
          "Discounts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "responses": {
          "200": {
            "description": "Discount deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/checkout_links": {
      "get": {
        "summary": "List checkout links",
        "description": "Returns a list of checkout links for the current account",
        "operationId": "listCheckoutLinks",
        "x-speakeasy-name-override": "list",
        "tags": [
          "CheckoutLinks"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "Comma-separated relations to expand: discount, price_variants",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/StartingAfter"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of checkout links",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_CheckoutLink"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create checkout link",
        "description": "Creates a new shareable checkout link",
        "operationId": "createCheckoutLink",
        "x-speakeasy-name-override": "create",
        "tags": [
          "CheckoutLinks"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutLinkRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout link created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutLink"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/checkout_links/{prefix_id}": {
      "get": {
        "summary": "Get checkout link",
        "description": "Returns a specific checkout link",
        "operationId": "getCheckoutLink",
        "x-speakeasy-name-override": "get",
        "tags": [
          "CheckoutLinks"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Comma-separated relations to expand: discount, price_variants",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout link details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutLink"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update checkout link",
        "description": "Updates an existing checkout link",
        "operationId": "updateCheckoutLink",
        "x-speakeasy-name-override": "update",
        "tags": [
          "CheckoutLinks"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutLinkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout link updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutLink"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "summary": "Delete checkout link",
        "description": "Deletes a checkout link",
        "operationId": "deleteCheckoutLink",
        "x-speakeasy-name-override": "delete",
        "tags": [
          "CheckoutLinks"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout link deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/experiences": {
      "get": {
        "summary": "List experiences",
        "description": "Returns a list of experiences for the current account",
        "operationId": "listExperiences",
        "x-speakeasy-name-override": "list",
        "tags": [
          "Experiences"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "item_type",
            "in": "query",
            "description": "Filter by experience type (e.g., Community, Course, Download)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/StartingAfter"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of experiences",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_Experience"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/experiences/{prefix_id}": {
      "get": {
        "summary": "Get experience",
        "description": "Returns a specific experience",
        "operationId": "getExperience",
        "x-speakeasy-name-override": "get",
        "tags": [
          "Experiences"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "responses": {
          "200": {
            "description": "Experience details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Experience"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/blog_posts": {
      "get": {
        "summary": "List blog posts",
        "description": "Returns a list of published blog posts",
        "operationId": "listBlogPosts",
        "x-speakeasy-name-override": "list",
        "tags": [
          "BlogPosts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Search by title",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/StartingAfter"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of blog posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_BlogPost"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/blog_posts/{prefix_id}": {
      "get": {
        "summary": "Get blog post",
        "description": "Returns a specific published blog post",
        "operationId": "getBlogPost",
        "x-speakeasy-name-override": "get",
        "tags": [
          "BlogPosts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "responses": {
          "200": {
            "description": "Blog post details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogPost"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/webhook_endpoints": {
      "get": {
        "summary": "List webhook endpoints",
        "description": "Returns a list of webhook endpoints for the current account",
        "operationId": "listWebhookEndpoints",
        "x-speakeasy-name-override": "list",
        "tags": [
          "WebhookEndpoints"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "disabled"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/StartingAfter"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhook endpoints",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_WebhookEndpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create webhook endpoint",
        "description": "Creates a new webhook endpoint. The secret is only returned on creation.",
        "operationId": "createWebhookEndpoint",
        "x-speakeasy-name-override": "create",
        "tags": [
          "WebhookEndpoints"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEndpointRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook endpoint created (includes secret)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpointWithSecret"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/webhook_endpoints/events": {
      "get": {
        "summary": "List available webhook event types",
        "description": "Returns a list of all available event types that can be subscribed to",
        "operationId": "listWebhookEvents",
        "x-speakeasy-name-override": "listEvents",
        "tags": [
          "WebhookEndpoints"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of event types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/webhook_endpoints/{prefix_id}": {
      "get": {
        "summary": "Get webhook endpoint",
        "description": "Returns a specific webhook endpoint",
        "operationId": "getWebhookEndpoint",
        "x-speakeasy-name-override": "get",
        "tags": [
          "WebhookEndpoints"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoint details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update webhook endpoint",
        "description": "Updates an existing webhook endpoint",
        "operationId": "updateWebhookEndpoint",
        "x-speakeasy-name-override": "update",
        "tags": [
          "WebhookEndpoints"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEndpointRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook endpoint updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "summary": "Delete webhook endpoint",
        "description": "Deletes a webhook endpoint",
        "operationId": "deleteWebhookEndpoint",
        "x-speakeasy-name-override": "delete",
        "tags": [
          "WebhookEndpoints"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoint deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/webhook_endpoints/{prefix_id}/test": {
      "post": {
        "summary": "Test webhook endpoint",
        "description": "Sends a test event to the webhook endpoint",
        "operationId": "testWebhookEndpoint",
        "x-speakeasy-name-override": "test",
        "tags": [
          "WebhookEndpoints"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PrefixId"
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "The event type to send as a test",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test event delivered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "delivered": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "description": "Webhook delivery failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/x402_configuration": {
      "get": {
        "summary": "Get x402 configuration",
        "description": "Returns the x402 payment configuration for the current account",
        "operationId": "getX402Configuration",
        "x-speakeasy-name-override": "get",
        "tags": [
          "X402Configuration"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "X402 configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402Configuration"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "summary": "Update x402 configuration",
        "description": "Updates the x402 payment configuration",
        "operationId": "updateX402Configuration",
        "x-speakeasy-name-override": "update",
        "tags": [
          "X402Configuration"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/X402ConfigurationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "X402 configuration updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402Configuration"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key in the format: Bearer {api_token}"
      }
    },
    "parameters": {
      "PrefixId": {
        "name": "prefix_id",
        "in": "path",
        "required": true,
        "description": "The resource prefix ID (e.g., \"prod_abc123\")",
        "schema": {
          "type": "string"
        }
      },
      "StartingAfter": {
        "name": "starting_after",
        "in": "query",
        "description": "Cursor for pagination \u2014 the prefix ID of the last item in the previous page",
        "schema": {
          "type": "string"
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "Items per page",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        }
      }
    },
    "schemas": {
      "ListResponse_Product": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ListResponse_PriceVariant": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceVariant"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ListResponse_Review": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Review"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ListResponse_Order": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Order"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ListResponse_Customer": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Customer"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ListResponse_Discount": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Discount"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ListResponse_CheckoutLink": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CheckoutLink"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ListResponse_Experience": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Experience"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ListResponse_BlogPost": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BlogPost"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ListResponse_WebhookEndpoint": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEndpoint"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "DeleteResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Prefix ID (e.g., \"acct_abc123\")"
          },
          "object": {
            "type": "string",
            "enum": [
              "account"
            ]
          },
          "name": {
            "type": "string"
          },
          "subdomain": {
            "type": "string"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Prefix ID (e.g., \"prod_abc123\")"
          },
          "object": {
            "type": "string",
            "enum": [
              "product"
            ]
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "active",
              "archived"
            ]
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "price_variants": {
            "type": "array",
            "description": "Always included \u2014 visible, non-archived variants ordered by position",
            "items": {
              "$ref": "#/components/schemas/PriceVariant"
            }
          },
          "reviews": {
            "type": "array",
            "description": "Only included when expand=reviews",
            "items": {
              "$ref": "#/components/schemas/Review"
            }
          }
        }
      },
      "PriceVariant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Prefix ID (e.g., \"pv_abc123\")"
          },
          "object": {
            "type": "string",
            "enum": [
              "price_variant"
            ]
          },
          "name": {
            "type": "string"
          },
          "amount": {
            "type": "integer",
            "description": "Price in cents"
          },
          "amount_type": {
            "type": "string",
            "description": "Pricing model (e.g., \"fixed\", \"pay_what_you_want\")"
          },
          "billing_type": {
            "type": "string",
            "enum": [
              "one_time",
              "subscription",
              "free"
            ]
          },
          "recurring_interval": {
            "type": "string",
            "nullable": true,
            "description": "Billing interval for subscriptions (e.g., \"month\", \"year\")"
          },
          "interval_count": {
            "type": "integer",
            "nullable": true,
            "description": "Number of intervals between billings"
          },
          "trial_period_days": {
            "type": "integer",
            "nullable": true
          },
          "revoke_after_days": {
            "type": "integer",
            "nullable": true,
            "description": "Days after which access is revoked"
          },
          "quantity_available": {
            "type": "integer",
            "nullable": true,
            "description": "Inventory limit (null = unlimited)"
          },
          "currency": {
            "type": "string"
          },
          "archived": {
            "type": "boolean"
          },
          "position": {
            "type": "integer"
          },
          "hidden": {
            "type": "boolean"
          },
          "product": {
            "type": "string",
            "description": "Product prefix ID"
          },
          "x402_amount": {
            "type": "string",
            "nullable": true,
            "description": "USDC atomic units (6 decimals). $5.00 \u2192 \"5000000\""
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Review": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Prefix ID"
          },
          "object": {
            "type": "string",
            "enum": [
              "review"
            ]
          },
          "rating": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          },
          "customer_name": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CheckoutItem": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "checkout_item"
            ]
          },
          "quantity": {
            "type": "integer"
          },
          "price_variant": {
            "type": "string",
            "description": "Price variant prefix ID"
          },
          "product": {
            "type": "string",
            "description": "Product prefix ID"
          }
        }
      },
      "Checkout": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Prefix ID"
          },
          "object": {
            "type": "string",
            "enum": [
              "checkout"
            ]
          },
          "status": {
            "type": "string"
          },
          "mode": {
            "type": "string",
            "description": "Payment mode (e.g., payment, subscription)"
          },
          "currency": {
            "type": "string"
          },
          "total": {
            "type": "integer",
            "description": "Total in cents"
          },
          "client_secret": {
            "type": "string",
            "nullable": true,
            "description": "Stripe client secret for completing payment"
          },
          "checkout_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CheckoutItem"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CartItem": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "cart_item"
            ]
          },
          "quantity": {
            "type": "integer"
          },
          "price_variant": {
            "type": "string",
            "description": "Price variant prefix ID"
          },
          "product": {
            "type": "string",
            "description": "Product prefix ID"
          }
        }
      },
      "Cart": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Prefix ID"
          },
          "object": {
            "type": "string",
            "enum": [
              "cart"
            ]
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "total": {
            "type": "integer",
            "description": "Total in cents"
          },
          "cart_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CartItem"
            }
          }
        }
      },
      "OrderLineItem": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "order_line_item"
            ]
          },
          "quantity": {
            "type": "integer"
          },
          "price_variant": {
            "type": "string",
            "description": "Price variant prefix ID"
          },
          "product": {
            "type": "string",
            "description": "Product prefix ID"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Prefix ID"
          },
          "object": {
            "type": "string",
            "enum": [
              "order"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "succeeded",
              "pending",
              "failed",
              "refunded",
              "partially_refunded"
            ]
          },
          "amount": {
            "type": "integer",
            "description": "Order total in cents"
          },
          "currency": {
            "type": "string"
          },
          "customer": {
            "description": "Customer prefix ID by default. When expand=customer, returns a full Customer object.\n",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "$ref": "#/components/schemas/Customer"
              }
            ]
          },
          "line_items": {
            "type": "array",
            "description": "Only included when expand=line_items",
            "items": {
              "$ref": "#/components/schemas/OrderLineItem"
            }
          },
          "checkout": {
            "type": "string",
            "description": "Checkout prefix ID"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Prefix ID"
          },
          "object": {
            "type": "string",
            "enum": [
              "customer"
            ]
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string",
            "nullable": true
          },
          "customer_type": {
            "type": "string",
            "enum": [
              "lead",
              "free",
              "paid"
            ]
          },
          "orders_count": {
            "type": "integer"
          },
          "total_spend": {
            "type": "integer",
            "description": "Total spend in cents"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Discount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Prefix ID"
          },
          "object": {
            "type": "string",
            "enum": [
              "discount"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "expired",
              "scheduled"
            ]
          },
          "discount_type": {
            "type": "string",
            "enum": [
              "amount_off",
              "percent_off"
            ]
          },
          "code": {
            "type": "string"
          },
          "amount_off": {
            "type": "integer",
            "nullable": true,
            "description": "Discount amount in cents"
          },
          "percent_off": {
            "type": "number",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "duration": {
            "type": "string",
            "enum": [
              "once",
              "forever",
              "repeating"
            ],
            "nullable": true
          },
          "duration_in_months": {
            "type": "integer",
            "nullable": true
          },
          "max_redemptions": {
            "type": "integer",
            "nullable": true
          },
          "times_redeemed": {
            "type": "integer"
          },
          "redeem_by": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CheckoutLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Prefix ID"
          },
          "object": {
            "type": "string",
            "enum": [
              "checkout_link"
            ]
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "success_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "allow_discount_codes": {
            "type": "boolean"
          },
          "discount": {
            "description": "Discount prefix ID by default. When expand=discount, returns a full Discount object.\n",
            "nullable": true,
            "oneOf": [
              {
                "type": "string"
              },
              {
                "$ref": "#/components/schemas/Discount"
              }
            ]
          },
          "price_variants": {
            "type": "array",
            "description": "Only included when expand=price_variants",
            "items": {
              "$ref": "#/components/schemas/PriceVariant"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Experience": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Prefix ID"
          },
          "object": {
            "type": "string",
            "enum": [
              "experience"
            ]
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "access_type": {
            "type": "string"
          },
          "item_type": {
            "type": "string",
            "description": "Experience type (e.g., Community, Course, Download)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BlogPost": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Prefix ID"
          },
          "object": {
            "type": "string",
            "enum": [
              "blog_post"
            ]
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "scheduled"
            ]
          },
          "excerpt": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "category": {
            "type": "string",
            "nullable": true,
            "description": "Category slug (e.g., \"tutorials\")"
          },
          "published_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookEndpoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Prefix ID"
          },
          "object": {
            "type": "string",
            "enum": [
              "webhook_endpoint"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "api_version": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "disabled"
            ]
          },
          "enabled_events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookEndpointWithSecret": {
        "description": "Returned only on creation \u2014 includes the signing secret",
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookEndpoint"
          },
          {
            "type": "object",
            "properties": {
              "secret": {
                "type": "string",
                "description": "Signing secret (only revealed on creation)"
              }
            }
          }
        ]
      },
      "X402Configuration": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "x402_configuration"
            ]
          },
          "x402_enabled": {
            "type": "boolean"
          },
          "x402_wallet_address": {
            "type": "string",
            "nullable": true
          },
          "x402_chain": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "enum": [
              "USDC"
            ]
          }
        }
      },
      "X402Access": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "x402_access"
            ]
          },
          "id": {
            "type": "string",
            "description": "Order prefix ID"
          },
          "product": {
            "type": "string",
            "description": "Product prefix ID"
          },
          "price_variant": {
            "type": "string",
            "description": "Price variant prefix ID"
          },
          "order": {
            "type": "string",
            "description": "Order prefix ID"
          },
          "access_token": {
            "type": "string",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "CheckoutCreateRequest": {
        "type": "object",
        "required": [
          "checkout"
        ],
        "properties": {
          "checkout": {
            "type": "object",
            "required": [
              "line_items"
            ],
            "properties": {
              "email": {
                "type": "string",
                "format": "email",
                "description": "Customer email \u2014 creates or finds a customer"
              },
              "customer": {
                "type": "string",
                "description": "Customer prefix ID (alternative to email)"
              },
              "line_items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "price_variant"
                  ],
                  "properties": {
                    "price_variant": {
                      "type": "string",
                      "description": "Price variant prefix ID"
                    },
                    "quantity": {
                      "type": "integer",
                      "minimum": 1,
                      "default": 1
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CheckoutUpdateRequest": {
        "type": "object",
        "required": [
          "checkout"
        ],
        "properties": {
          "checkout": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "discount_code": {
                "type": "string"
              }
            }
          }
        }
      },
      "CartCreateRequest": {
        "type": "object",
        "required": [
          "cart"
        ],
        "properties": {
          "cart": {
            "type": "object",
            "required": [
              "customer"
            ],
            "properties": {
              "customer": {
                "type": "string",
                "description": "Customer prefix ID"
              }
            }
          }
        }
      },
      "CartUpdateRequest": {
        "type": "object",
        "required": [
          "cart"
        ],
        "properties": {
          "cart": {
            "type": "object",
            "properties": {
              "cart_items_attributes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "price_variant": {
                      "type": "string",
                      "description": "Price variant prefix ID"
                    },
                    "quantity": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "custom_amount": {
                      "type": "integer",
                      "description": "Custom amount in cents (pay-what-you-want)"
                    },
                    "_destroy": {
                      "type": "boolean",
                      "description": "Set to true to remove item"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CustomerRequest": {
        "type": "object",
        "required": [
          "customer"
        ],
        "properties": {
          "customer": {
            "type": "object",
            "required": [
              "email"
            ],
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "name": {
                "type": "string"
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "customer_type": {
                "type": "string",
                "enum": [
                  "lead",
                  "free",
                  "paid"
                ]
              }
            }
          }
        }
      },
      "DiscountRequest": {
        "type": "object",
        "required": [
          "discount"
        ],
        "properties": {
          "discount": {
            "type": "object",
            "required": [
              "code",
              "discount_type"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "discount_type": {
                "type": "string",
                "enum": [
                  "amount_off",
                  "percent_off"
                ]
              },
              "amount_off": {
                "type": "integer",
                "description": "Discount amount in cents (required if discount_type=amount_off)"
              },
              "percent_off": {
                "type": "number",
                "description": "Discount percentage 0-100 (required if discount_type=percent_off)"
              },
              "currency": {
                "type": "string"
              },
              "duration": {
                "type": "string",
                "enum": [
                  "once",
                  "forever",
                  "repeating"
                ]
              },
              "duration_in_months": {
                "type": "integer"
              },
              "redeem_by": {
                "type": "string",
                "format": "date-time"
              },
              "max_redemptions": {
                "type": "integer"
              },
              "price_variants": {
                "type": "array",
                "description": "Limit discount to specific price variant prefix IDs",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CheckoutLinkRequest": {
        "type": "object",
        "required": [
          "checkout_link"
        ],
        "properties": {
          "checkout_link": {
            "type": "object",
            "required": [
              "price_variants"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "discount": {
                "type": "string",
                "nullable": true,
                "description": "Discount prefix ID"
              },
              "allow_discount_codes": {
                "type": "boolean"
              },
              "success_url": {
                "type": "string",
                "format": "uri"
              },
              "price_variants": {
                "type": "array",
                "description": "Price variant prefix IDs",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "WebhookEndpointRequest": {
        "type": "object",
        "required": [
          "webhook_endpoint"
        ],
        "properties": {
          "webhook_endpoint": {
            "type": "object",
            "required": [
              "url",
              "enabled_events"
            ],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "disabled"
                ]
              },
              "enabled_events": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "X402ConfigurationRequest": {
        "type": "object",
        "required": [
          "x402_configuration"
        ],
        "properties": {
          "x402_configuration": {
            "type": "object",
            "properties": {
              "x402_enabled": {
                "type": "boolean"
              },
              "x402_wallet_address": {
                "type": "string"
              },
              "x402_chain": {
                "type": "string"
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Error type (e.g., invalid_request_error, validation_error, api_error)"
              },
              "code": {
                "type": "string",
                "description": "Error code (e.g., resource_missing, authentication_required)"
              },
              "message": {
                "type": "string"
              },
              "param": {
                "type": "string",
                "nullable": true
              },
              "errors": {
                "type": "object",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "description": "Field-level validation errors"
              }
            }
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication required",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "type": "invalid_request_error",
                "code": "authentication_required",
                "message": "You did not provide an API key."
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "type": "invalid_request_error",
                "code": "resource_missing",
                "message": "The requested resource was not found"
              }
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Validation error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "type": "validation_error",
                "code": "validation_failed",
                "message": "Email is required",
                "errors": {
                  "email": [
                    "can't be blank"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Current account information"
    },
    {
      "name": "Products",
      "description": "Digital product catalog"
    },
    {
      "name": "PriceVariants",
      "description": "Product pricing tiers"
    },
    {
      "name": "Reviews",
      "description": "Product reviews"
    },
    {
      "name": "Checkouts",
      "description": "Checkout session management"
    },
    {
      "name": "Carts",
      "description": "Shopping cart management"
    },
    {
      "name": "Orders",
      "description": "Order history and details"
    },
    {
      "name": "Customers",
      "description": "Customer relationship management"
    },
    {
      "name": "Discounts",
      "description": "Discount code management"
    },
    {
      "name": "CheckoutLinks",
      "description": "Shareable checkout links"
    },
    {
      "name": "Experiences",
      "description": "Digital experiences (courses, communities, downloads)"
    },
    {
      "name": "BlogPosts",
      "description": "Blog content management"
    },
    {
      "name": "WebhookEndpoints",
      "description": "Webhook endpoint management"
    },
    {
      "name": "X402Configuration",
      "description": "x402 payment protocol configuration"
    }
  ]
}