{
	"openapi": "3.0.3",
	"info": {
		"title": "Crevio API",
		"description": "API for the Crevio creator platform \u2014 a multi-tenant SaaS for digital product sales.\nUses snake_case keys following Stripe conventions. All resource IDs are string prefix IDs (e.g., \"prod_abc123\").\n",
		"version": "0.5.0",
		"contact": {
			"name": "Crevio Support",
			"url": "https://crevio.co"
		},
		"license": {
			"name": "MIT",
			"url": "https://opensource.org/licenses/MIT"
		}
	},
	"servers": [
		{
			"url": "https://api.crevio.co/v1",
			"description": "Production server"
		},
		{
			"url": "https://api.crevio.localhost/v1",
			"description": "Local development server"
		}
	],
	"paths": {
		"/account": {
			"get": {
				"summary": "Get current account",
				"description": "Returns information about the authenticated account",
				"operationId": "getAccount",
				"x-speakeasy-name-override": "get",
				"tags": ["Account"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"responses": {
					"200": {
						"description": "Account information",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Account"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			}
		},
		"/products": {
			"get": {
				"summary": "List products",
				"description": "Returns a list of products for the current account. Supports filtering by status and searching by name.",
				"operationId": "listProducts",
				"x-speakeasy-name-override": "list",
				"tags": ["Products"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"name": "status",
						"in": "query",
						"description": "Filter by product status",
						"schema": {
							"type": "string",
							"enum": ["draft", "active", "archived"]
						}
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search by product name",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Comma-separated relations to expand: reviews",
						"schema": {
							"type": "string"
						}
					},
					{
						"$ref": "#/components/parameters/StartingAfter"
					},
					{
						"$ref": "#/components/parameters/Limit"
					}
				],
				"responses": {
					"200": {
						"description": "List of products",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ListResponse_Product"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			},
			"post": {
				"summary": "Create product",
				"description": "Creates a new product",
				"operationId": "createProduct",
				"x-speakeasy-name-override": "create",
				"tags": ["Products"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ProductRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Product created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Product"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			}
		},
		"/products/{prefix_id}": {
			"get": {
				"summary": "Get product details",
				"description": "Returns detailed information about a specific product",
				"operationId": "getProduct",
				"x-speakeasy-name-override": "get",
				"tags": ["Products"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Comma-separated relations to expand: reviews",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Product details",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Product"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			},
			"patch": {
				"summary": "Update product",
				"description": "Updates an existing product",
				"operationId": "updateProduct",
				"x-speakeasy-name-override": "update",
				"tags": ["Products"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ProductRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Product updated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Product"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			},
			"delete": {
				"summary": "Delete product",
				"description": "Deletes a product. Only products with no orders and no Stripe product ID can be deleted.",
				"operationId": "deleteProduct",
				"x-speakeasy-name-override": "delete",
				"tags": ["Products"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Product deleted",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DeleteResponse"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/products/{prefix_id}/x402_access": {
			"post": {
				"summary": "Request x402 payment access",
				"description": "Returns 402 with payment requirements, or grants access on valid x402 payment.\nPass a price_variant query param to select a specific variant, otherwise the first visible variant is used.\n",
				"operationId": "requestX402Access",
				"x-speakeasy-name-override": "requestX402Access",
				"tags": ["Products"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					},
					{
						"name": "price_variant",
						"in": "query",
						"description": "Price variant prefix ID to use for payment",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Access granted after valid x402 payment",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/X402Access"
								}
							}
						}
					},
					"402": {
						"description": "Payment required \u2014 includes x402 payment requirements in response headers"
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/price_variants": {
			"get": {
				"summary": "List price variants",
				"description": "Returns all price variants for the current account. Optionally filter by product.",
				"operationId": "listPriceVariants",
				"x-speakeasy-name-override": "list",
				"tags": ["PriceVariants"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"name": "product",
						"in": "query",
						"description": "Filter by product prefix ID",
						"schema": {
							"type": "string"
						}
					},
					{
						"$ref": "#/components/parameters/StartingAfter"
					},
					{
						"$ref": "#/components/parameters/Limit"
					}
				],
				"responses": {
					"200": {
						"description": "List of price variants",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ListResponse_PriceVariant"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			},
			"post": {
				"summary": "Create price variant",
				"description": "Creates a new price variant for a product",
				"operationId": "createPriceVariant",
				"x-speakeasy-name-override": "create",
				"tags": ["PriceVariants"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PriceVariantRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Price variant created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PriceVariant"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			}
		},
		"/price_variants/{prefix_id}": {
			"get": {
				"summary": "Get price variant",
				"description": "Returns a specific price variant",
				"operationId": "getPriceVariant",
				"x-speakeasy-name-override": "get",
				"tags": ["PriceVariants"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Price variant details",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PriceVariant"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			},
			"patch": {
				"summary": "Update price variant",
				"description": "Updates an existing price variant. Set archived to true to archive it.",
				"operationId": "updatePriceVariant",
				"x-speakeasy-name-override": "update",
				"tags": ["PriceVariants"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PriceVariantUpdateRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Price variant updated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PriceVariant"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			}
		},
		"/reviews": {
			"get": {
				"summary": "List reviews",
				"description": "Returns reviews for products in the current account",
				"operationId": "listReviews",
				"x-speakeasy-name-override": "list",
				"tags": ["Reviews"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"name": "product",
						"in": "query",
						"description": "Filter by product prefix ID",
						"schema": {
							"type": "string"
						}
					},
					{
						"$ref": "#/components/parameters/StartingAfter"
					},
					{
						"$ref": "#/components/parameters/Limit"
					}
				],
				"responses": {
					"200": {
						"description": "List of reviews",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ListResponse_Review"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			}
		},
		"/reviews/{prefix_id}": {
			"get": {
				"summary": "Get review",
				"description": "Returns a specific review",
				"operationId": "getReview",
				"x-speakeasy-name-override": "get",
				"tags": ["Reviews"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Review details",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Review"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/checkouts": {
			"post": {
				"summary": "Create checkout session",
				"description": "Creates a new checkout session for purchasing products",
				"operationId": "createCheckout",
				"x-speakeasy-name-override": "create",
				"tags": ["Checkouts"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CheckoutCreateRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Checkout session created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Checkout"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			}
		},
		"/checkouts/{prefix_id}": {
			"get": {
				"summary": "Get checkout",
				"description": "Returns a specific checkout session",
				"operationId": "getCheckout",
				"x-speakeasy-name-override": "get",
				"tags": ["Checkouts"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Checkout details",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Checkout"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			},
			"patch": {
				"summary": "Update checkout",
				"description": "Updates an existing checkout session",
				"operationId": "updateCheckout",
				"x-speakeasy-name-override": "update",
				"tags": ["Checkouts"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CheckoutUpdateRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Checkout updated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Checkout"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			}
		},
		"/carts": {
			"post": {
				"summary": "Create cart",
				"description": "Creates a new shopping cart",
				"operationId": "createCart",
				"x-speakeasy-name-override": "create",
				"tags": ["Carts"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CartCreateRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Cart created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Cart"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			}
		},
		"/carts/{prefix_id}": {
			"get": {
				"summary": "Get cart",
				"description": "Returns a specific cart",
				"operationId": "getCart",
				"x-speakeasy-name-override": "get",
				"tags": ["Carts"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Cart details",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Cart"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			},
			"patch": {
				"summary": "Update cart",
				"description": "Updates cart items",
				"operationId": "updateCart",
				"x-speakeasy-name-override": "update",
				"tags": ["Carts"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CartUpdateRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Cart updated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Cart"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			},
			"delete": {
				"summary": "Delete cart",
				"description": "Deletes a cart",
				"operationId": "deleteCart",
				"x-speakeasy-name-override": "delete",
				"tags": ["Carts"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Cart deleted",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DeleteResponse"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/orders": {
			"get": {
				"summary": "List orders",
				"description": "Returns a list of orders for the current account",
				"operationId": "listOrders",
				"x-speakeasy-name-override": "list",
				"tags": ["Orders"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"name": "status",
						"in": "query",
						"description": "Filter by order status",
						"schema": {
							"type": "string",
							"enum": [
								"succeeded",
								"pending",
								"failed",
								"refunded",
								"partially_refunded"
							]
						}
					},
					{
						"name": "customer",
						"in": "query",
						"description": "Filter by customer prefix ID",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "processor",
						"in": "query",
						"description": "Filter by payment processor",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Comma-separated relations to expand: customer, line_items",
						"schema": {
							"type": "string"
						}
					},
					{
						"$ref": "#/components/parameters/StartingAfter"
					},
					{
						"$ref": "#/components/parameters/Limit"
					}
				],
				"responses": {
					"200": {
						"description": "List of orders",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ListResponse_Order"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			}
		},
		"/orders/{prefix_id}": {
			"get": {
				"summary": "Get order",
				"description": "Returns a specific order",
				"operationId": "getOrder",
				"x-speakeasy-name-override": "get",
				"tags": ["Orders"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Comma-separated relations to expand: customer, line_items",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Order details",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Order"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/order_items/{prefix_id}": {
			"get": {
				"summary": "Get order item",
				"description": "Returns details of a specific order item",
				"operationId": "getOrderItem",
				"x-speakeasy-name-override": "get",
				"tags": ["Order Items"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Comma-separated relations to expand: order, price_variant, product",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Order item details",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderItem"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/customers": {
			"get": {
				"summary": "List customers",
				"description": "Returns a list of customers for the current account",
				"operationId": "listCustomers",
				"x-speakeasy-name-override": "list",
				"tags": ["Customers"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"name": "customer_type",
						"in": "query",
						"description": "Filter by customer type",
						"schema": {
							"type": "string",
							"enum": ["lead", "free", "paid"]
						}
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search by email or name",
						"schema": {
							"type": "string"
						}
					},
					{
						"$ref": "#/components/parameters/StartingAfter"
					},
					{
						"$ref": "#/components/parameters/Limit"
					}
				],
				"responses": {
					"200": {
						"description": "List of customers",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ListResponse_Customer"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			},
			"post": {
				"summary": "Create customer",
				"description": "Creates a new customer record",
				"operationId": "createCustomer",
				"x-speakeasy-name-override": "create",
				"tags": ["Customers"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CustomerRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Customer created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Customer"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			}
		},
		"/customers/{prefix_id}": {
			"get": {
				"summary": "Get customer",
				"description": "Returns a specific customer",
				"operationId": "getCustomer",
				"x-speakeasy-name-override": "get",
				"tags": ["Customers"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Customer details",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Customer"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			},
			"patch": {
				"summary": "Update customer",
				"description": "Updates an existing customer record",
				"operationId": "updateCustomer",
				"x-speakeasy-name-override": "update",
				"tags": ["Customers"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CustomerRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Customer updated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Customer"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			}
		},
		"/discounts": {
			"get": {
				"summary": "List discounts",
				"description": "Returns a list of discounts for the current account",
				"operationId": "listDiscounts",
				"x-speakeasy-name-override": "list",
				"tags": ["Discounts"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"name": "status",
						"in": "query",
						"description": "Filter by discount status",
						"schema": {
							"type": "string",
							"enum": ["active", "expired", "scheduled"]
						}
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search by discount code",
						"schema": {
							"type": "string"
						}
					},
					{
						"$ref": "#/components/parameters/StartingAfter"
					},
					{
						"$ref": "#/components/parameters/Limit"
					}
				],
				"responses": {
					"200": {
						"description": "List of discounts",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ListResponse_Discount"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			},
			"post": {
				"summary": "Create discount",
				"description": "Creates a new discount code",
				"operationId": "createDiscount",
				"x-speakeasy-name-override": "create",
				"tags": ["Discounts"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/DiscountRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Discount created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Discount"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			}
		},
		"/discounts/{prefix_id}": {
			"get": {
				"summary": "Get discount",
				"description": "Returns a specific discount",
				"operationId": "getDiscount",
				"x-speakeasy-name-override": "get",
				"tags": ["Discounts"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Discount details",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Discount"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			},
			"patch": {
				"summary": "Update discount",
				"description": "Updates an existing discount",
				"operationId": "updateDiscount",
				"x-speakeasy-name-override": "update",
				"tags": ["Discounts"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/DiscountRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Discount updated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Discount"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			},
			"delete": {
				"summary": "Delete discount",
				"description": "Deletes a discount",
				"operationId": "deleteDiscount",
				"x-speakeasy-name-override": "delete",
				"tags": ["Discounts"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Discount deleted",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DeleteResponse"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/checkout_links": {
			"get": {
				"summary": "List checkout links",
				"description": "Returns a list of checkout links for the current account",
				"operationId": "listCheckoutLinks",
				"x-speakeasy-name-override": "list",
				"tags": ["CheckoutLinks"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"name": "expand",
						"in": "query",
						"description": "Comma-separated relations to expand: discount, price_variants",
						"schema": {
							"type": "string"
						}
					},
					{
						"$ref": "#/components/parameters/StartingAfter"
					},
					{
						"$ref": "#/components/parameters/Limit"
					}
				],
				"responses": {
					"200": {
						"description": "List of checkout links",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ListResponse_CheckoutLink"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			},
			"post": {
				"summary": "Create checkout link",
				"description": "Creates a new shareable checkout link",
				"operationId": "createCheckoutLink",
				"x-speakeasy-name-override": "create",
				"tags": ["CheckoutLinks"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CheckoutLinkRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Checkout link created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CheckoutLink"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			}
		},
		"/checkout_links/{prefix_id}": {
			"get": {
				"summary": "Get checkout link",
				"description": "Returns a specific checkout link",
				"operationId": "getCheckoutLink",
				"x-speakeasy-name-override": "get",
				"tags": ["CheckoutLinks"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Comma-separated relations to expand: discount, price_variants",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Checkout link details",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CheckoutLink"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			},
			"patch": {
				"summary": "Update checkout link",
				"description": "Updates an existing checkout link",
				"operationId": "updateCheckoutLink",
				"x-speakeasy-name-override": "update",
				"tags": ["CheckoutLinks"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CheckoutLinkRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Checkout link updated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CheckoutLink"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			},
			"delete": {
				"summary": "Delete checkout link",
				"description": "Deletes a checkout link",
				"operationId": "deleteCheckoutLink",
				"x-speakeasy-name-override": "delete",
				"tags": ["CheckoutLinks"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Checkout link deleted",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DeleteResponse"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/experiences": {
			"get": {
				"summary": "List experiences",
				"description": "Returns a list of experiences for the current account",
				"operationId": "listExperiences",
				"x-speakeasy-name-override": "list",
				"tags": ["Experiences"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"name": "item_type",
						"in": "query",
						"description": "Filter by experience type (e.g., Community, Course, Download)",
						"schema": {
							"type": "string"
						}
					},
					{
						"$ref": "#/components/parameters/StartingAfter"
					},
					{
						"$ref": "#/components/parameters/Limit"
					}
				],
				"responses": {
					"200": {
						"description": "List of experiences",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ListResponse_Experience"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			}
		},
		"/experiences/{prefix_id}": {
			"get": {
				"summary": "Get experience",
				"description": "Returns a specific experience",
				"operationId": "getExperience",
				"x-speakeasy-name-override": "get",
				"tags": ["Experiences"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Experience details",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Experience"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/blog_posts": {
			"get": {
				"summary": "List blog posts",
				"description": "Returns a list of published blog posts",
				"operationId": "listBlogPosts",
				"x-speakeasy-name-override": "list",
				"tags": ["BlogPosts"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"name": "category",
						"in": "query",
						"description": "Filter by category slug",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search by title",
						"schema": {
							"type": "string"
						}
					},
					{
						"$ref": "#/components/parameters/StartingAfter"
					},
					{
						"$ref": "#/components/parameters/Limit"
					}
				],
				"responses": {
					"200": {
						"description": "List of blog posts",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ListResponse_BlogPost"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			}
		},
		"/blog_posts/{prefix_id}": {
			"get": {
				"summary": "Get blog post",
				"description": "Returns a specific published blog post",
				"operationId": "getBlogPost",
				"x-speakeasy-name-override": "get",
				"tags": ["BlogPosts"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Blog post details",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BlogPost"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/webhook_endpoints": {
			"get": {
				"summary": "List webhook endpoints",
				"description": "Returns a list of webhook endpoints for the current account",
				"operationId": "listWebhookEndpoints",
				"x-speakeasy-name-override": "list",
				"tags": ["WebhookEndpoints"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"name": "status",
						"in": "query",
						"description": "Filter by status",
						"schema": {
							"type": "string",
							"enum": ["active", "disabled"]
						}
					},
					{
						"$ref": "#/components/parameters/StartingAfter"
					},
					{
						"$ref": "#/components/parameters/Limit"
					}
				],
				"responses": {
					"200": {
						"description": "List of webhook endpoints",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ListResponse_WebhookEndpoint"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			},
			"post": {
				"summary": "Create webhook endpoint",
				"description": "Creates a new webhook endpoint. The secret is only returned on creation.",
				"operationId": "createWebhookEndpoint",
				"x-speakeasy-name-override": "create",
				"tags": ["WebhookEndpoints"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WebhookEndpointRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Webhook endpoint created (includes secret)",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WebhookEndpointWithSecret"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			}
		},
		"/webhook_endpoints/events": {
			"get": {
				"summary": "List available webhook event types",
				"description": "Returns a list of all available event types that can be subscribed to",
				"operationId": "listWebhookEvents",
				"x-speakeasy-name-override": "listEvents",
				"tags": ["WebhookEndpoints"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"responses": {
					"200": {
						"description": "List of event types",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type": "string"
									}
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			}
		},
		"/webhook_endpoints/{prefix_id}": {
			"get": {
				"summary": "Get webhook endpoint",
				"description": "Returns a specific webhook endpoint",
				"operationId": "getWebhookEndpoint",
				"x-speakeasy-name-override": "get",
				"tags": ["WebhookEndpoints"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Webhook endpoint details",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WebhookEndpoint"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			},
			"patch": {
				"summary": "Update webhook endpoint",
				"description": "Updates an existing webhook endpoint",
				"operationId": "updateWebhookEndpoint",
				"x-speakeasy-name-override": "update",
				"tags": ["WebhookEndpoints"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/WebhookEndpointRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Webhook endpoint updated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/WebhookEndpoint"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			},
			"delete": {
				"summary": "Delete webhook endpoint",
				"description": "Deletes a webhook endpoint",
				"operationId": "deleteWebhookEndpoint",
				"x-speakeasy-name-override": "delete",
				"tags": ["WebhookEndpoints"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Webhook endpoint deleted",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DeleteResponse"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/webhook_endpoints/{prefix_id}/test": {
			"post": {
				"summary": "Test webhook endpoint",
				"description": "Sends a test event to the webhook endpoint",
				"operationId": "testWebhookEndpoint",
				"x-speakeasy-name-override": "test",
				"tags": ["WebhookEndpoints"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					},
					{
						"name": "event_type",
						"in": "query",
						"description": "The event type to send as a test",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Test event delivered",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"delivered": {
											"type": "boolean"
										},
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					},
					"502": {
						"description": "Webhook delivery failed",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/invoices": {
			"get": {
				"summary": "List invoices",
				"description": "Returns a list of invoices for the current account",
				"operationId": "listInvoices",
				"x-speakeasy-name-override": "list",
				"tags": ["Invoices"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"name": "status",
						"in": "query",
						"description": "Filter by invoice status",
						"schema": {
							"type": "string",
							"enum": ["open", "paid", "past_due", "void"]
						}
					},
					{
						"name": "customer",
						"in": "query",
						"description": "Filter by customer prefix ID",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Comma-separated relations to expand: customer, price_variant, order",
						"schema": {
							"type": "string"
						}
					},
					{
						"$ref": "#/components/parameters/StartingAfter"
					},
					{
						"$ref": "#/components/parameters/Limit"
					}
				],
				"responses": {
					"200": {
						"description": "List of invoices",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ListResponse_Invoice"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			},
			"post": {
				"summary": "Create invoice",
				"description": "Creates a new invoice and sends it to the customer via email",
				"operationId": "createInvoice",
				"x-speakeasy-name-override": "create",
				"tags": ["Invoices"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/InvoiceRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Invoice created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Invoice"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			}
		},
		"/invoices/{prefix_id}": {
			"get": {
				"summary": "Get invoice",
				"description": "Returns a specific invoice",
				"operationId": "getInvoice",
				"x-speakeasy-name-override": "get",
				"tags": ["Invoices"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Comma-separated relations to expand: customer, price_variant, order",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Invoice details",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Invoice"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/invoices/{prefix_id}/void": {
			"post": {
				"summary": "Void invoice",
				"description": "Voids an open invoice. Cannot void paid invoices.",
				"operationId": "voidInvoice",
				"x-speakeasy-name-override": "void",
				"tags": ["Invoices"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Invoice voided",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Invoice"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"400": {
						"description": "Invoice cannot be voided (already void or paid)",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/invoices/{prefix_id}/pay": {
			"post": {
				"summary": "Pay invoice",
				"description": "Creates a checkout session for the invoice and returns the checkout with a Stripe client secret for completing payment",
				"operationId": "payInvoice",
				"x-speakeasy-name-override": "pay",
				"tags": ["Invoices"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"201": {
						"description": "Checkout session created for invoice payment",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Checkout"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"422": {
						"description": "Invoice is not payable",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/subscriptions": {
			"get": {
				"summary": "List subscriptions",
				"description": "Returns a list of customer subscriptions for the current account",
				"operationId": "listSubscriptions",
				"x-speakeasy-name-override": "list",
				"tags": ["Subscriptions"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"name": "status",
						"in": "query",
						"description": "Filter by subscription status",
						"schema": {
							"type": "string",
							"enum": [
								"active",
								"canceled",
								"paused",
								"past_due",
								"unpaid",
								"incomplete",
								"trialing"
							]
						}
					},
					{
						"$ref": "#/components/parameters/StartingAfter"
					},
					{
						"$ref": "#/components/parameters/Limit"
					}
				],
				"responses": {
					"200": {
						"description": "List of subscriptions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ListResponse_Subscription"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			}
		},
		"/subscriptions/{prefix_id}": {
			"get": {
				"summary": "Get subscription",
				"description": "Returns a specific subscription",
				"operationId": "getSubscription",
				"x-speakeasy-name-override": "get",
				"tags": ["Subscriptions"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Subscription details",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Subscription"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/subscriptions/{prefix_id}/cancel": {
			"post": {
				"summary": "Cancel subscription",
				"description": "Cancels a subscription. Metered and past-due subscriptions are canceled immediately. Others cancel at the end of the current billing period.",
				"operationId": "cancelSubscription",
				"x-speakeasy-name-override": "cancel",
				"tags": ["Subscriptions"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Subscription canceled",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Subscription"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/subscriptions/{prefix_id}/pause": {
			"post": {
				"summary": "Pause subscription",
				"description": "Pauses a subscription",
				"operationId": "pauseSubscription",
				"x-speakeasy-name-override": "pause",
				"tags": ["Subscriptions"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Subscription paused",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Subscription"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"400": {
						"description": "Subscription cannot be paused",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/subscriptions/{prefix_id}/resume": {
			"post": {
				"summary": "Resume subscription",
				"description": "Resumes a paused or canceled subscription",
				"operationId": "resumeSubscription",
				"x-speakeasy-name-override": "resume",
				"tags": ["Subscriptions"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/PrefixId"
					}
				],
				"responses": {
					"200": {
						"description": "Subscription resumed",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Subscription"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"400": {
						"description": "Subscription cannot be resumed",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/me": {
			"get": {
				"summary": "Get current user profile",
				"description": "Returns the authenticated user's profile data including their roles in the current account",
				"operationId": "getMe",
				"x-speakeasy-name-override": "get",
				"tags": ["Me"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"responses": {
					"200": {
						"description": "User profile",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Me"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			}
		},
		"/files": {
			"get": {
				"summary": "List files",
				"description": "Returns a list of files for the current account. Supports filtering by source_type.",
				"operationId": "listFiles",
				"x-speakeasy-name-override": "list",
				"tags": ["Files"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"$ref": "#/components/parameters/StartingAfter"
					},
					{
						"$ref": "#/components/parameters/Limit"
					},
					{
						"name": "source_type",
						"in": "query",
						"description": "Filter by source type",
						"schema": {
							"type": "string",
							"enum": ["upload", "external"]
						}
					}
				],
				"responses": {
					"200": {
						"description": "List of files",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ListResponse_File"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			},
			"post": {
				"summary": "Create file",
				"description": "Create a new file record. For uploads, only a filename is required — a presigned URL is returned for direct upload to S3. For external URLs (YouTube, Vimeo, Wistia), pass source_type \"external\" with a url.\n\n**Upload flow:**\n1. Call this endpoint with `{\"file\": {\"filename\": \"photo.png\"}}`\n2. PUT your file binary to the returned `upload_url` with the provided `upload_headers`\n3. Call `POST /v1/files/{id}/uploaded` to confirm the upload and transition to `ready`",
				"operationId": "createFile",
				"x-speakeasy-name-override": "create",
				"tags": ["Files"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"file": {
										"type": "object",
										"properties": {
											"filename": {
												"type": "string",
												"description": "The name of the file including its extension (e.g., \"photo.png\"). Required for uploads."
											},
											"source_type": {
												"type": "string",
												"enum": ["upload", "external"],
												"description": "Type of file. Defaults to \"upload\" if omitted."
											},
											"url": {
												"type": "string",
												"description": "URL for external media (YouTube, Vimeo, Wistia). Required when source_type is \"external\"."
											}
										},
										"required": ["filename"]
									}
								},
								"required": ["file"]
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "File created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/FileCreateResponse"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			}
		},
		"/files/{id}": {
			"get": {
				"summary": "Get file",
				"description": "Returns a single file by its prefix ID",
				"operationId": "getFile",
				"x-speakeasy-name-override": "get",
				"tags": ["Files"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"description": "File prefix ID (e.g., \"file_abc123\")",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "File details",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/File"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			},
			"delete": {
				"summary": "Delete file",
				"description": "Deletes a file and its associated storage object",
				"operationId": "deleteFile",
				"x-speakeasy-name-override": "delete",
				"tags": ["Files"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"description": "File prefix ID (e.g., \"file_abc123\")",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "File deleted",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DeleteResponse"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"404": {
						"$ref": "#/components/responses/NotFound"
					}
				}
			}
		},
		"/x402_configuration": {
			"get": {
				"summary": "Get x402 configuration",
				"description": "Returns the x402 payment configuration for the current account",
				"operationId": "getX402Configuration",
				"x-speakeasy-name-override": "get",
				"tags": ["X402Configuration"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"responses": {
					"200": {
						"description": "X402 configuration",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/X402Configuration"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					}
				}
			},
			"patch": {
				"summary": "Update x402 configuration",
				"description": "Updates the x402 payment configuration",
				"operationId": "updateX402Configuration",
				"x-speakeasy-name-override": "update",
				"tags": ["X402Configuration"],
				"security": [
					{
						"ApiKeyAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/X402ConfigurationRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "X402 configuration updated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/X402Configuration"
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/Unauthorized"
					},
					"422": {
						"$ref": "#/components/responses/UnprocessableEntity"
					}
				}
			}
		}
	},
	"components": {
		"securitySchemes": {
			"ApiKeyAuth": {
				"type": "apiKey",
				"in": "header",
				"name": "Authorization",
				"description": "API key in the format: Bearer {api_token}"
			}
		},
		"parameters": {
			"PrefixId": {
				"name": "prefix_id",
				"in": "path",
				"required": true,
				"description": "The resource prefix ID (e.g., \"prod_abc123\")",
				"schema": {
					"type": "string"
				}
			},
			"StartingAfter": {
				"name": "starting_after",
				"in": "query",
				"description": "Cursor for pagination \u2014 the prefix ID of the last item in the previous page",
				"schema": {
					"type": "string"
				}
			},
			"Limit": {
				"name": "limit",
				"in": "query",
				"description": "Items per page",
				"schema": {
					"type": "integer",
					"minimum": 1,
					"maximum": 100,
					"default": 20
				}
			}
		},
		"schemas": {
			"ListResponse_Product": {
				"type": "object",
				"properties": {
					"object": {
						"type": "string",
						"enum": ["list"]
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Product"
						}
					},
					"has_more": {
						"type": "boolean"
					},
					"url": {
						"type": "string"
					}
				}
			},
			"ListResponse_PriceVariant": {
				"type": "object",
				"properties": {
					"object": {
						"type": "string",
						"enum": ["list"]
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/PriceVariant"
						}
					},
					"has_more": {
						"type": "boolean"
					},
					"url": {
						"type": "string"
					}
				}
			},
			"ListResponse_Review": {
				"type": "object",
				"properties": {
					"object": {
						"type": "string",
						"enum": ["list"]
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Review"
						}
					},
					"has_more": {
						"type": "boolean"
					},
					"url": {
						"type": "string"
					}
				}
			},
			"ListResponse_Order": {
				"type": "object",
				"properties": {
					"object": {
						"type": "string",
						"enum": ["list"]
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Order"
						}
					},
					"has_more": {
						"type": "boolean"
					},
					"url": {
						"type": "string"
					}
				}
			},
			"ListResponse_Subscription": {
				"type": "object",
				"properties": {
					"object": {
						"type": "string",
						"enum": ["list"]
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Subscription"
						}
					},
					"has_more": {
						"type": "boolean"
					},
					"url": {
						"type": "string"
					}
				}
			},
			"ListResponse_Invoice": {
				"type": "object",
				"properties": {
					"object": {
						"type": "string",
						"enum": ["list"]
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Invoice"
						}
					},
					"has_more": {
						"type": "boolean"
					},
					"url": {
						"type": "string"
					}
				}
			},
			"ListResponse_Customer": {
				"type": "object",
				"properties": {
					"object": {
						"type": "string",
						"enum": ["list"]
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Customer"
						}
					},
					"has_more": {
						"type": "boolean"
					},
					"url": {
						"type": "string"
					}
				}
			},
			"ListResponse_Discount": {
				"type": "object",
				"properties": {
					"object": {
						"type": "string",
						"enum": ["list"]
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Discount"
						}
					},
					"has_more": {
						"type": "boolean"
					},
					"url": {
						"type": "string"
					}
				}
			},
			"ListResponse_CheckoutLink": {
				"type": "object",
				"properties": {
					"object": {
						"type": "string",
						"enum": ["list"]
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/CheckoutLink"
						}
					},
					"has_more": {
						"type": "boolean"
					},
					"url": {
						"type": "string"
					}
				}
			},
			"ListResponse_Experience": {
				"type": "object",
				"properties": {
					"object": {
						"type": "string",
						"enum": ["list"]
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Experience"
						}
					},
					"has_more": {
						"type": "boolean"
					},
					"url": {
						"type": "string"
					}
				}
			},
			"ListResponse_BlogPost": {
				"type": "object",
				"properties": {
					"object": {
						"type": "string",
						"enum": ["list"]
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/BlogPost"
						}
					},
					"has_more": {
						"type": "boolean"
					},
					"url": {
						"type": "string"
					}
				}
			},
			"ListResponse_WebhookEndpoint": {
				"type": "object",
				"properties": {
					"object": {
						"type": "string",
						"enum": ["list"]
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/WebhookEndpoint"
						}
					},
					"has_more": {
						"type": "boolean"
					},
					"url": {
						"type": "string"
					}
				}
			},
			"ListResponse_File": {
				"type": "object",
				"properties": {
					"object": {
						"type": "string",
						"enum": ["list"]
					},
					"data": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/File"
						}
					},
					"has_more": {
						"type": "boolean"
					},
					"url": {
						"type": "string"
					}
				}
			},
			"File": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Prefix ID (e.g., \"file_abc123\")"
					},
					"object": {
						"type": "string",
						"enum": ["file"]
					},
					"source_type": {
						"type": "string",
						"enum": ["upload", "external"],
						"description": "Whether the file was uploaded or is an external URL"
					},
					"upload_status": {
						"type": "string",
						"enum": ["pending", "processing", "ready", "failed"],
						"description": "Current upload status. Uploads start as \"pending\" until confirmed via /uploaded."
					},
					"url": {
						"type": "string",
						"nullable": true,
						"description": "External URL (for source_type \"external\")"
					},
					"filename": {
						"type": "string",
						"nullable": true,
						"description": "Original filename including extension"
					},
					"content_type": {
						"type": "string",
						"nullable": true,
						"description": "MIME type (e.g., \"image/png\", \"video/mp4\")"
					},
					"size": {
						"type": "integer",
						"nullable": true,
						"description": "File size in bytes. Null while upload_status is \"pending\"."
					},
					"provider": {
						"type": "string",
						"nullable": true,
						"description": "Detected provider for external URLs (youtube, vimeo, wistia)"
					},
					"file_url": {
						"type": "string",
						"nullable": true,
						"description": "CDN URL for accessing the uploaded file"
					},
					"created_at": {
						"type": "string",
						"format": "date-time"
					},
					"updated_at": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"FileCreateResponse": {
				"allOf": [
					{
						"$ref": "#/components/schemas/File"
					},
					{
						"type": "object",
						"properties": {
							"upload_url": {
								"type": "string",
								"nullable": true,
								"description": "Presigned URL to PUT the file binary to. Only present for upload source_type."
							},
							"upload_headers": {
								"type": "object",
								"nullable": true,
								"additionalProperties": {
									"type": "string"
								},
								"description": "Headers to include when uploading to the presigned URL"
							}
						}
					}
				]
			},
			"DeleteResponse": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string"
					},
					"object": {
						"type": "string"
					},
					"deleted": {
						"type": "boolean",
						"enum": [true]
					}
				}
			},
			"Me": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Prefix ID (e.g., \"user_abc123\")"
					},
					"object": {
						"type": "string",
						"enum": ["user"]
					},
					"name": {
						"type": "string"
					},
					"email": {
						"type": "string",
						"format": "email"
					},
					"roles": {
						"type": "array",
						"description": "User's roles in the current account (e.g., owner, admin, member)",
						"items": {
							"type": "string"
						}
					}
				}
			},
			"Account": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Prefix ID (e.g., \"acct_abc123\")"
					},
					"object": {
						"type": "string",
						"enum": ["account"]
					},
					"name": {
						"type": "string"
					},
					"subdomain": {
						"type": "string"
					}
				}
			},
			"Product": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Prefix ID (e.g., \"prod_abc123\")"
					},
					"object": {
						"type": "string",
						"enum": ["product"]
					},
					"name": {
						"type": "string"
					},
					"slug": {
						"type": "string"
					},
					"status": {
						"type": "string",
						"enum": ["draft", "active", "archived"]
					},
					"description": {
						"type": "string",
						"nullable": true
					},
					"url": {
						"type": "string",
						"format": "uri"
					},
					"created_at": {
						"type": "string",
						"format": "date-time"
					},
					"updated_at": {
						"type": "string",
						"format": "date-time"
					},
					"price_variants": {
						"type": "array",
						"description": "Always included \u2014 visible, non-archived variants ordered by position",
						"items": {
							"$ref": "#/components/schemas/PriceVariant"
						}
					},
					"reviews": {
						"type": "array",
						"description": "Only included when expand=reviews",
						"items": {
							"$ref": "#/components/schemas/Review"
						}
					}
				}
			},
			"PriceVariant": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Prefix ID (e.g., \"pv_abc123\")"
					},
					"object": {
						"type": "string",
						"enum": ["price_variant"]
					},
					"name": {
						"type": "string"
					},
					"amount": {
						"type": "integer",
						"description": "Price in cents"
					},
					"amount_type": {
						"type": "string",
						"description": "Pricing model (e.g., \"fixed\", \"pay_what_you_want\")"
					},
					"billing_type": {
						"type": "string",
						"enum": ["one_time", "subscription", "free"]
					},
					"recurring_interval": {
						"type": "string",
						"nullable": true,
						"description": "Billing interval for subscriptions (e.g., \"month\", \"year\")"
					},
					"interval_count": {
						"type": "integer",
						"nullable": true,
						"description": "Number of intervals between billings"
					},
					"trial_period_days": {
						"type": "integer",
						"nullable": true
					},
					"revoke_after_days": {
						"type": "integer",
						"nullable": true,
						"description": "Days after which access is revoked"
					},
					"quantity_available": {
						"type": "integer",
						"nullable": true,
						"description": "Inventory limit (null = unlimited)"
					},
					"currency": {
						"type": "string"
					},
					"archived": {
						"type": "boolean"
					},
					"position": {
						"type": "integer"
					},
					"hidden": {
						"type": "boolean"
					},
					"product": {
						"type": "string",
						"description": "Product prefix ID"
					},
					"x402_amount": {
						"type": "string",
						"nullable": true,
						"description": "USDC atomic units (6 decimals). $5.00 \u2192 \"5000000\""
					},
					"created_at": {
						"type": "string",
						"format": "date-time"
					},
					"updated_at": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"Review": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Prefix ID"
					},
					"object": {
						"type": "string",
						"enum": ["review"]
					},
					"rating": {
						"type": "integer",
						"minimum": 1,
						"maximum": 5
					},
					"customer_name": {
						"type": "string"
					},
					"content": {
						"type": "string"
					},
					"created_at": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"CheckoutItem": {
				"type": "object",
				"properties": {
					"object": {
						"type": "string",
						"enum": ["checkout_item"]
					},
					"quantity": {
						"type": "integer"
					},
					"price_variant": {
						"type": "string",
						"description": "Price variant prefix ID"
					},
					"product": {
						"type": "string",
						"description": "Product prefix ID"
					}
				}
			},
			"Checkout": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Prefix ID"
					},
					"object": {
						"type": "string",
						"enum": ["checkout"]
					},
					"status": {
						"type": "string"
					},
					"mode": {
						"type": "string",
						"description": "Payment mode (e.g., payment, subscription)"
					},
					"currency": {
						"type": "string"
					},
					"total": {
						"type": "integer",
						"description": "Total in cents"
					},
					"client_secret": {
						"type": "string",
						"nullable": true,
						"description": "Stripe client secret for completing payment"
					},
					"checkout_items": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/CheckoutItem"
						}
					},
					"created_at": {
						"type": "string",
						"format": "date-time"
					},
					"updated_at": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"CartItem": {
				"type": "object",
				"properties": {
					"object": {
						"type": "string",
						"enum": ["cart_item"]
					},
					"quantity": {
						"type": "integer"
					},
					"price_variant": {
						"type": "string",
						"description": "Price variant prefix ID"
					},
					"product": {
						"type": "string",
						"description": "Product prefix ID"
					}
				}
			},
			"Cart": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Prefix ID"
					},
					"object": {
						"type": "string",
						"enum": ["cart"]
					},
					"currency": {
						"type": "string",
						"nullable": true
					},
					"total": {
						"type": "integer",
						"description": "Total in cents"
					},
					"cart_items": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/CartItem"
						}
					}
				}
			},
			"OrderItem": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Prefix ID (oi_*)"
					},
					"object": {
						"type": "string",
						"enum": ["order_item"]
					},
					"quantity": {
						"type": "integer"
					},
					"order": {
						"description": "Order prefix ID by default. When expand=order, returns a full Order object.\n",
						"oneOf": [
							{
								"type": "string"
							},
							{
								"$ref": "#/components/schemas/Order"
							}
						]
					},
					"price_variant": {
						"description": "Price variant prefix ID by default. When expand=price_variant, returns a full PriceVariant object.\n",
						"oneOf": [
							{
								"type": "string"
							},
							{
								"$ref": "#/components/schemas/PriceVariant"
							}
						]
					},
					"product": {
						"description": "Product prefix ID by default. When expand=product, returns a full Product object.\n",
						"oneOf": [
							{
								"type": "string"
							},
							{
								"$ref": "#/components/schemas/Product"
							}
						]
					}
				}
			},
			"Order": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Prefix ID"
					},
					"object": {
						"type": "string",
						"enum": ["order"]
					},
					"status": {
						"type": "string",
						"enum": [
							"succeeded",
							"pending",
							"failed",
							"refunded",
							"partially_refunded"
						]
					},
					"amount": {
						"type": "integer",
						"description": "Order total in cents"
					},
					"currency": {
						"type": "string"
					},
					"customer": {
						"description": "Customer prefix ID by default. When expand=customer, returns a full Customer object.\n",
						"oneOf": [
							{
								"type": "string"
							},
							{
								"$ref": "#/components/schemas/Customer"
							}
						]
					},
					"line_items": {
						"type": "array",
						"description": "Only included when expand=line_items",
						"items": {
							"$ref": "#/components/schemas/OrderItem"
						}
					},
					"checkout": {
						"type": "string",
						"description": "Checkout prefix ID"
					},
					"created_at": {
						"type": "string",
						"format": "date-time"
					},
					"updated_at": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"Subscription": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Prefix ID (sub_*)"
					},
					"object": {
						"type": "string",
						"enum": ["subscription"]
					},
					"status": {
						"type": "string",
						"description": "Stripe subscription status"
					},
					"quantity": {
						"type": "integer"
					},
					"current_period_start": {
						"type": "string",
						"format": "date-time",
						"nullable": true
					},
					"current_period_end": {
						"type": "string",
						"format": "date-time",
						"nullable": true
					},
					"trial_ends_at": {
						"type": "string",
						"format": "date-time",
						"nullable": true
					},
					"ends_at": {
						"type": "string",
						"format": "date-time",
						"nullable": true,
						"description": "Set when subscription is canceled (cancellation effective date)"
					},
					"canceled": {
						"type": "boolean"
					},
					"paused": {
						"type": "boolean"
					},
					"created_at": {
						"type": "string",
						"format": "date-time"
					},
					"updated_at": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"Invoice": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Prefix ID (inv_*)"
					},
					"object": {
						"type": "string",
						"enum": ["invoice"]
					},
					"status": {
						"type": "string",
						"enum": ["open", "paid", "past_due", "void"]
					},
					"number": {
						"type": "string",
						"description": "Auto-generated invoice number (e.g., #00000001)"
					},
					"description": {
						"type": "string",
						"nullable": true
					},
					"customer_name": {
						"type": "string"
					},
					"email_address": {
						"type": "string",
						"format": "email"
					},
					"amount": {
						"type": "integer",
						"description": "Invoice amount in cents"
					},
					"currency": {
						"type": "string"
					},
					"due_at": {
						"type": "string",
						"format": "date-time"
					},
					"paid_at": {
						"type": "string",
						"format": "date-time",
						"nullable": true
					},
					"customer": {
						"description": "Customer prefix ID by default. When expand=customer, returns a full Customer object.\n",
						"oneOf": [
							{
								"type": "string"
							},
							{
								"$ref": "#/components/schemas/Customer"
							}
						],
						"nullable": true
					},
					"price_variant": {
						"description": "Price variant prefix ID by default. When expand=price_variant, returns a full PriceVariant object.\n",
						"oneOf": [
							{
								"type": "string"
							},
							{
								"$ref": "#/components/schemas/PriceVariant"
							}
						]
					},
					"order": {
						"description": "Order prefix ID by default. When expand=order, returns a full Order object. Only present when invoice is paid.\n",
						"oneOf": [
							{
								"type": "string"
							},
							{
								"$ref": "#/components/schemas/Order"
							}
						],
						"nullable": true
					},
					"created_at": {
						"type": "string",
						"format": "date-time"
					},
					"updated_at": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"Customer": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Prefix ID"
					},
					"object": {
						"type": "string",
						"enum": ["customer"]
					},
					"email": {
						"type": "string",
						"format": "email"
					},
					"name": {
						"type": "string"
					},
					"first_name": {
						"type": "string"
					},
					"last_name": {
						"type": "string",
						"nullable": true
					},
					"customer_type": {
						"type": "string",
						"enum": ["lead", "free", "paid"]
					},
					"orders_count": {
						"type": "integer"
					},
					"total_spend": {
						"type": "integer",
						"description": "Total spend in cents"
					},
					"created_at": {
						"type": "string",
						"format": "date-time"
					},
					"updated_at": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"Discount": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Prefix ID"
					},
					"object": {
						"type": "string",
						"enum": ["discount"]
					},
					"status": {
						"type": "string",
						"enum": ["active", "expired", "scheduled"]
					},
					"discount_type": {
						"type": "string",
						"enum": ["amount_off", "percent_off"]
					},
					"code": {
						"type": "string"
					},
					"amount_off": {
						"type": "integer",
						"nullable": true,
						"description": "Discount amount in cents"
					},
					"percent_off": {
						"type": "number",
						"nullable": true
					},
					"currency": {
						"type": "string",
						"nullable": true
					},
					"duration": {
						"type": "string",
						"enum": ["once", "forever", "repeating"],
						"nullable": true
					},
					"duration_in_months": {
						"type": "integer",
						"nullable": true
					},
					"max_redemptions": {
						"type": "integer",
						"nullable": true
					},
					"times_redeemed": {
						"type": "integer"
					},
					"redeem_by": {
						"type": "string",
						"format": "date-time",
						"nullable": true
					},
					"created_at": {
						"type": "string",
						"format": "date-time"
					},
					"updated_at": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"CheckoutLink": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Prefix ID"
					},
					"object": {
						"type": "string",
						"enum": ["checkout_link"]
					},
					"name": {
						"type": "string"
					},
					"url": {
						"type": "string",
						"format": "uri"
					},
					"success_url": {
						"type": "string",
						"format": "uri",
						"nullable": true
					},
					"allow_discount_codes": {
						"type": "boolean"
					},
					"discount": {
						"description": "Discount prefix ID by default. When expand=discount, returns a full Discount object.\n",
						"nullable": true,
						"oneOf": [
							{
								"type": "string"
							},
							{
								"$ref": "#/components/schemas/Discount"
							}
						]
					},
					"price_variants": {
						"type": "array",
						"description": "Only included when expand=price_variants",
						"items": {
							"$ref": "#/components/schemas/PriceVariant"
						}
					},
					"created_at": {
						"type": "string",
						"format": "date-time"
					},
					"updated_at": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"Experience": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Prefix ID"
					},
					"object": {
						"type": "string",
						"enum": ["experience"]
					},
					"name": {
						"type": "string"
					},
					"slug": {
						"type": "string"
					},
					"description": {
						"type": "string",
						"nullable": true
					},
					"access_type": {
						"type": "string"
					},
					"item_type": {
						"type": "string",
						"description": "Experience type (e.g., Community, Course, Download)"
					},
					"created_at": {
						"type": "string",
						"format": "date-time"
					},
					"updated_at": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"BlogPost": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Prefix ID"
					},
					"object": {
						"type": "string",
						"enum": ["blog_post"]
					},
					"title": {
						"type": "string"
					},
					"slug": {
						"type": "string"
					},
					"content": {
						"type": "string"
					},
					"status": {
						"type": "string",
						"enum": ["draft", "published", "scheduled"]
					},
					"excerpt": {
						"type": "string",
						"nullable": true
					},
					"url": {
						"type": "string",
						"format": "uri"
					},
					"category": {
						"type": "string",
						"nullable": true,
						"description": "Category slug (e.g., \"tutorials\")"
					},
					"published_at": {
						"type": "string",
						"format": "date-time",
						"nullable": true
					},
					"created_at": {
						"type": "string",
						"format": "date-time"
					},
					"updated_at": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"WebhookEndpoint": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Prefix ID"
					},
					"object": {
						"type": "string",
						"enum": ["webhook_endpoint"]
					},
					"url": {
						"type": "string",
						"format": "uri"
					},
					"api_version": {
						"type": "string"
					},
					"status": {
						"type": "string",
						"enum": ["active", "disabled"]
					},
					"enabled_events": {
						"type": "array",
						"items": {
							"type": "string"
						}
					},
					"created_at": {
						"type": "string",
						"format": "date-time"
					},
					"updated_at": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"WebhookEndpointWithSecret": {
				"description": "Returned only on creation \u2014 includes the signing secret",
				"allOf": [
					{
						"$ref": "#/components/schemas/WebhookEndpoint"
					},
					{
						"type": "object",
						"properties": {
							"secret": {
								"type": "string",
								"description": "Signing secret (only revealed on creation)"
							}
						}
					}
				]
			},
			"X402Configuration": {
				"type": "object",
				"properties": {
					"object": {
						"type": "string",
						"enum": ["x402_configuration"]
					},
					"x402_enabled": {
						"type": "boolean"
					},
					"x402_wallet_address": {
						"type": "string",
						"nullable": true
					},
					"x402_chain": {
						"type": "string",
						"nullable": true
					},
					"currency": {
						"type": "string",
						"enum": ["USDC"]
					}
				}
			},
			"X402Access": {
				"type": "object",
				"properties": {
					"object": {
						"type": "string",
						"enum": ["x402_access"]
					},
					"id": {
						"type": "string",
						"description": "Order prefix ID"
					},
					"product": {
						"type": "string",
						"description": "Product prefix ID"
					},
					"price_variant": {
						"type": "string",
						"description": "Price variant prefix ID"
					},
					"order": {
						"type": "string",
						"description": "Order prefix ID"
					},
					"access_token": {
						"type": "string",
						"nullable": true
					},
					"expires_at": {
						"type": "string",
						"format": "date-time",
						"nullable": true
					}
				}
			},
			"CheckoutCreateRequest": {
				"type": "object",
				"required": ["checkout"],
				"properties": {
					"checkout": {
						"type": "object",
						"required": ["line_items"],
						"properties": {
							"email": {
								"type": "string",
								"format": "email",
								"description": "Customer email \u2014 creates or finds a customer"
							},
							"customer": {
								"type": "string",
								"description": "Customer prefix ID (alternative to email)"
							},
							"line_items": {
								"type": "array",
								"items": {
									"type": "object",
									"required": ["price_variant"],
									"properties": {
										"price_variant": {
											"type": "string",
											"description": "Price variant prefix ID"
										},
										"quantity": {
											"type": "integer",
											"minimum": 1,
											"default": 1
										}
									}
								}
							}
						}
					}
				}
			},
			"CheckoutUpdateRequest": {
				"type": "object",
				"required": ["checkout"],
				"properties": {
					"checkout": {
						"type": "object",
						"properties": {
							"email": {
								"type": "string",
								"format": "email"
							},
							"discount_code": {
								"type": "string"
							}
						}
					}
				}
			},
			"CartCreateRequest": {
				"type": "object",
				"required": ["cart"],
				"properties": {
					"cart": {
						"type": "object",
						"required": ["customer"],
						"properties": {
							"customer": {
								"type": "string",
								"description": "Customer prefix ID"
							}
						}
					}
				}
			},
			"CartUpdateRequest": {
				"type": "object",
				"required": ["cart"],
				"properties": {
					"cart": {
						"type": "object",
						"properties": {
							"cart_items_attributes": {
								"type": "array",
								"items": {
									"type": "object",
									"properties": {
										"price_variant": {
											"type": "string",
											"description": "Price variant prefix ID"
										},
										"quantity": {
											"type": "integer",
											"minimum": 1
										},
										"custom_amount": {
											"type": "integer",
											"description": "Custom amount in cents (pay-what-you-want)"
										},
										"_destroy": {
											"type": "boolean",
											"description": "Set to true to remove item"
										}
									}
								}
							}
						}
					}
				}
			},
			"CustomerRequest": {
				"type": "object",
				"required": ["customer"],
				"properties": {
					"customer": {
						"type": "object",
						"required": ["email"],
						"properties": {
							"email": {
								"type": "string",
								"format": "email"
							},
							"name": {
								"type": "string"
							},
							"first_name": {
								"type": "string"
							},
							"last_name": {
								"type": "string"
							},
							"customer_type": {
								"type": "string",
								"enum": ["lead", "free", "paid"]
							}
						}
					}
				}
			},
			"DiscountRequest": {
				"type": "object",
				"required": ["discount"],
				"properties": {
					"discount": {
						"type": "object",
						"required": ["code", "discount_type"],
						"properties": {
							"code": {
								"type": "string"
							},
							"discount_type": {
								"type": "string",
								"enum": ["amount_off", "percent_off"]
							},
							"amount_off": {
								"type": "integer",
								"description": "Discount amount in cents (required if discount_type=amount_off)"
							},
							"percent_off": {
								"type": "number",
								"description": "Discount percentage 0-100 (required if discount_type=percent_off)"
							},
							"currency": {
								"type": "string"
							},
							"duration": {
								"type": "string",
								"enum": ["once", "forever", "repeating"]
							},
							"duration_in_months": {
								"type": "integer"
							},
							"redeem_by": {
								"type": "string",
								"format": "date-time"
							},
							"max_redemptions": {
								"type": "integer"
							},
							"price_variants": {
								"type": "array",
								"description": "Limit discount to specific price variant prefix IDs",
								"items": {
									"type": "string"
								}
							}
						}
					}
				}
			},
			"InvoiceRequest": {
				"type": "object",
				"required": ["invoice"],
				"properties": {
					"invoice": {
						"type": "object",
						"required": ["price_variant", "due_at"],
						"properties": {
							"price_variant": {
								"type": "string",
								"description": "Price variant prefix ID"
							},
							"customer": {
								"type": "string",
								"description": "Existing customer prefix ID (provide this OR customer_name + email_address)"
							},
							"customer_name": {
								"type": "string",
								"description": "Customer name (required if no customer prefix ID)"
							},
							"email_address": {
								"type": "string",
								"format": "email",
								"description": "Customer email (required if no customer prefix ID)"
							},
							"due_at": {
								"type": "string",
								"format": "date-time",
								"description": "Payment due date (must be in the future)"
							},
							"description": {
								"type": "string",
								"description": "Optional invoice description (max 500 characters)"
							},
							"charge_buyer_fee": {
								"type": "boolean",
								"description": "Whether the buyer pays the platform fee",
								"default": true
							}
						}
					}
				}
			},
			"ProductRequest": {
				"type": "object",
				"required": ["product"],
				"properties": {
					"product": {
						"type": "object",
						"required": ["name"],
						"properties": {
							"name": {
								"type": "string",
								"description": "Product name"
							},
							"status": {
								"type": "string",
								"enum": ["draft", "active", "archived"],
								"description": "Product status (defaults to draft)"
							},
							"description": {
								"type": "string",
								"description": "Short product description"
							},
							"body_html": {
								"type": "string",
								"description": "HTML body content for the product page"
							},
							"slug": {
								"type": "string",
								"description": "URL slug (auto-generated from name if not provided)"
							},
							"button_cta": {
								"type": "string",
								"description": "Call-to-action button text (defaults to \"Get Started\")"
							},
							"available_from": {
								"type": "string",
								"format": "date-time",
								"description": "Product availability start date"
							},
							"available_until": {
								"type": "string",
								"format": "date-time",
								"description": "Product availability end date"
							},
							"tax_code": {
								"type": "string",
								"description": "Tax code for the product"
							}
						}
					}
				}
			},
			"PriceVariantRequest": {
				"type": "object",
				"required": ["price_variant"],
				"properties": {
					"price_variant": {
						"type": "object",
						"required": ["product", "name", "amount", "currency"],
						"properties": {
							"product": {
								"type": "string",
								"description": "Product prefix ID"
							},
							"name": {
								"type": "string",
								"description": "Price variant name"
							},
							"amount": {
								"type": "integer",
								"description": "Price in cents"
							},
							"amount_type": {
								"type": "string",
								"description": "Pricing model (e.g., fixed, pay_what_you_want)"
							},
							"currency": {
								"type": "string",
								"description": "Three-letter ISO currency code (e.g., \"usd\")"
							},
							"billing_type": {
								"type": "string",
								"enum": ["one_time", "subscription", "free"],
								"description": "Billing type"
							},
							"recurring_interval": {
								"type": "string",
								"enum": ["day", "week", "month", "year"],
								"description": "Billing interval for subscriptions"
							},
							"interval_count": {
								"type": "integer",
								"description": "Number of intervals between billings"
							},
							"trial_period_days": {
								"type": "integer",
								"description": "Free trial period in days"
							},
							"revoke_after_days": {
								"type": "integer",
								"description": "Days after which access is revoked"
							},
							"quantity_available": {
								"type": "integer",
								"description": "Inventory limit (null for unlimited)"
							},
							"waitlist": {
								"type": "boolean",
								"description": "Whether to enable waitlist when sold out"
							},
							"hidden": {
								"type": "boolean",
								"description": "Whether to hide from storefront"
							}
						}
					}
				}
			},
			"PriceVariantUpdateRequest": {
				"type": "object",
				"required": ["price_variant"],
				"properties": {
					"price_variant": {
						"type": "object",
[...]
